//- Render time spans function
mixin spans(spans)
  each span in spans
    div(class="d-flex flex-column flex-md-row flex-items-start mb-2")
      h5(class="col-12 col-sm-2")=span.time
      ul(class="col-12 col-sm-10 d-flex flex-column flex-items-start list-style-none")
        each data in span.data
          li
            span.text-bold=data.title
            if data.subtitle
              span=' // '+data.subtitle
          if data.additional1
            li(class="text-gray mb-1")=data.additional1
          if data.additional2
            li(class="text-gray mb-1")=data.additional2
          if data.url
            a(href=data.url target="out")=data.url

doctype html
html(lang="en")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-125154255-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-125154255-1');
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
    title Jens Metzner
    link(href="index.css" rel="stylesheet")
    link(rel="amphtml" href="/index.amp.html")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    script(type="application/ld+json")
      include ld.json
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")

  body
    //- div(class="CircleBadge CircleBadge--large")
    //-   img(src="picture.jpeg" alt="Jens Metzner" class="CircleBadge-icon")
    header(class="d-flex flex-items-center flex-column mb-4 pt-4")
      h1(class="f00-light text-center f00-light border-0 d-block v-align-middle mt-2 d-flex flex-sm-row flex-column flex-items-center")
        svg(width="50" height="50" viewBox="0 0 282 282")
          path(class="blue" d="M 0 0 L 0 200 L 200 200 L 200 0 L 0 0 z M 20 20 L 90 20 L 135 20 C 150 20 161.42031 21.42031 170 30 C 178.57969 38.57969 180 45 180 65 L 180 130 L 150 130 L 150 70 C 150 63 149 59 145 55 C 141 51 137 50 130 50 L 115 50 L 115 130 L 85 130 L 85 50 L 50 50 L 50 80 L 20 80 L 20 20 z M 20 100 L 50 100 L 50 130 C 50 137 51.27322 141.27322 55 145 C 58.72678 148.7268 62 150 70 150 L 180 150 L 180 180 L 65 180 C 45 180 38.579692 178.5797 30 170 C 21.420308 161.4203 20 155 20 135 L 20 100 z " transform="translate(41,41),rotate(-45,100,100)")
        div.ml-md-2 Jens Metzner
    nav(class="border-top border-bottom mx-0 py-3 mb-4 clearfix bg-gray-light")
      div(class="container-md")
        div(class="d-flex flex-justify-between flex-column flex-sm-row mx-2 mx-md-0")
          a(class="text-center my-1 my-md-0" href="mailto:mail@jensmetzner.de") Mail
          a(class="text-center my-1 my-md-0" href="https://github.com/JensMetzner" target="github") Github
          a(class="text-center my-1 my-md-0" href="https://www.cgmi.uni-konstanz.de/en/persons/research-fellows/jens-metzner/" target="uni") University of Konstanz
          a(class="text-center my-1 my-md-0" href="https://scholar.google.de/citations?user=wfNn09EAAAAJ&hl=de" target="scholar") Google Scholar
          a(class="text-center my-1 my-md-0" href="https://www.linkedin.com/in/jensmetzner/" target="linkedin") LinkedIn
    main(class="container-md")
      section(class="my-2 mb-4 mx-2 mx-md-0")
        p.lead.text-justify: =about_me_teaser
      section(class="my-2 mb-4 mx-2 mx-md-0")
        .Subhead: h2.Subhead-heading About me
        p.text-justify: !=about_me
      section(class="my-2 mb-4 mx-2 mx-md-0")
        .Subhead: h2.Subhead-heading Curriculum Vitae
        +spans(cv)
      section(class="my-2 mb-4 mx-2 mx-md-0")
        .Subhead: h2.Subhead-heading Teaching
        +spans(teaching)
      section(class="my-2 mb-4 mx-2 mx-md-0")
        .Subhead: h2.Subhead-heading Publications
        +spans(publications)
      section(class="my-2 mb-4 mx-2 mx-md-0")
        .Subhead: h2.Subhead-heading Misc
        p.text-justify: !=misc
    footer(class="d-flex flex-items-center flex-column pb-2 mt-4")=copyright
